<div>
  <div id='calendar'></div>
</div>

<p>
  <%=link_to 'Create Event', new_event_url, :id => 'new_event' %>
</p>

<div id="create_event_dialog" class="dialog" style ="display:none;">
  <div id="create_event"></div>
</div>

<div id="disp_event_dialog" class="dialog">
  <div id="disp_event"></div>
  <div id="delete_event"></div>
</div>

<div id="edit_event_dialog" class="dialog" style ="display:none;">
  <div id="edit_event"></div>
</div>

